<%= form_with(model: message, class: "contents") do |form| %>
  <%= form.label :content, 'Type your message and hit Return/Enter to send it' %>

  <div class="flex gap-1">
    <%= form.text_field :content, required: true, autocomplete: 'off', class: "block shadow-sm rounded-md border px-3 py-2 w-full" %>
    <%= form.submit 'Send', class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
